.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: #1dadc0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.section-controls {
  color: #cfcfcf;
  font-size: 1.12em;
  width: 100%;
}

.section-controls label {
  margin: 1em 0.7em 1em 1.5em ;
}

.section-game {
  display: flex;
  height: 10vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: row;
}